.tag{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    padding: 5%; 
    border-radius: 14px;
    width: 308px;
    height: 328px;
    position: absolute;
    z-index: -1;
}
.reviewBox{
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
   background-color: white;
    width: 625.33px;
    height: 275px;
    z-index: 10000;
    margin-top:291px;
    margin-left: 156.67px;
    padding: 5%;
}
.Arrow{
    background-color:#0364FF;
    border-radius:100%;
    font-size: 30px;
    color: white;
    width:56px;
    height:56px;
    
}
.Arrow:hover{
    background: rgba(3, 100, 255, 0.8);
}