.title
{font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */
text-transform: uppercase;
height: 46px;
color: #0364FF;

}

.placeholder{
    position: absolute;
width: 417px;
height: 417px;
margin-left: 10%;
margin-top: 0px;

background: rgba(196, 196, 196, 0.12);
}

.aboutImage{
    margin-left:206px;
    margin-top:121px;
    margin-bottom:26px;
    margin-right:90px;
    position:relative;

}