.MuiPopover-paper {
  max-height: 25% !important;
}

.auth-cover > span {
  top: 5% !important;
}
.onboarding1-cover > span {
  top: 5% !important;
}

.onboarding3-cover > span {
  top: 5% !important;
}

.onboarding2-cover > span {
  top: 88% !important;
}

.auth-cover {
  background: url("../assets/login-cover.png") no-repeat center center fixed;
}

.onboarding1-cover {
  background: url("../assets/reg-step-1.png") no-repeat center center fixed;
}

.onboarding2-cover {
  background: url("../assets/reg-step-2.png") no-repeat center center fixed;
}

.onboarding3-cover {
  background: url("../assets/reg-step-3.png") no-repeat center center fixed;
}
