@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  @apply bg-colorWhite text-colorStone;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-colorBlack;
}

.container {
  @apply w-[100%] max-w-[px] mx-auto;
}

.container-fluid {
  margin: 0px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.about-image {
  @apply before:w-[98%] before:md:w-[417px] before:md:h-[417px] before:h-[98%] before:absolute before:-top-5 before:md:-top-[52px] before:md:-left-[47px] before:-left-2 before:content-[''] before:rounded-md;
}

.about-image::before {
  background-color: rgba(196, 196, 196, 0.12);
}

.btn-shadow {
  box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
}

.section-title {
  @apply font-semibold text-2xl md:text-4xl lg:text-5xl;
}

.offer-item {
  box-shadow: 0px 7px 25px rgba(143, 134, 196, 0.03);
  @apply rounded-2xl px-8 py-10 transition-shadow duration-200;
}

.offer-item:hover {
  box-shadow: 0px 19px 33px rgba(143, 134, 196, 0.18);
}

.section-subtitle {
  @apply text-colorPrimary font-semibold text-xl uppercase;
}

.features-list {
  box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.07);
}

.features-list-item--active {
  box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
}

.uni-rankings-list {
  box-shadow: 0px 43px 61px rgba(0, 0, 0, 0.13);
}

.footer-link:hover path {
  transition: fill 0.3s;
  fill: #0364ff;
}

.tools-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  max-width: 586px;
}

.hero-graduation::after {
  content: url(../assets/hero-section/waves.svg);
  z-index: 20;
  position: relative;
  top: 50%;
  left: -20%;
  width: 10px;
  height: 5px;
}

.hero-library::after {
  content: url(../assets/hero-section/circles-2.svg);
  z-index: 20;
  position: relative;
  top: 90px;
  right: -50px;
  width: 10px;
  height: 5px;
}

.hero-university::after {
  content: url(../assets/hero-section/circles-1.svg);
  z-index: 20;
  position: relative;
  bottom: -80%;
  right: -90%;
  width: 10px;
  height: 5px;
}
.cover-image > span {
  height: inherit !important;
}
.social-icon > span {
  margin: 10px !important;
}
