.scholarship-bg-cover {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: 100% 100% !important;
}

.scholarship-auth-cover {
  background: url("../assets/login-cover.png") no-repeat center center fixed;
}
